<footer>
	<div class="copy_right">
		<p class="small_text">&copy; IT simulator, 2013-2015</p>
		<p class="small_text">Сделано в студии <a href="#"><i class="icon icon-stfalcon"></i>stfalcon.com</a></p>
	</div>
	<nav class="footer_nav">
		<ul class="three_columns">
			<li><a href="#">Статьи</a></li>
			<li><a href="#">Проекты</a></li>
			<li><a href="#">Войти</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Тесты</a></li>
			<li><a href="#">Зарегистрироваться</a></li>
		</ul>
	</nav>
	<nav class="footer_nav_mob">
		<ul class="two_columns">
			<li><a href="#">Статьи</a></li>
			<li><a href="#">Войти</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Зарегистрироваться</a></li>
			<li><a href="#">Проекты</a></li>
			<li><a href="#">Тесты</a></li>
		</ul>
	</nav>
	<div class="about_project">
		<ul>
			<li><a href="#">UA</a></li>
			<li class="active_language"><a href="#">RU</a></li>
			<li><a href="#">EN</a></li>
		</ul>
		<button class="normal_button_2">О проекте</button>
	</div>
</footer>
