<header>
	<div class="logo">
		<a href="#">
			<svg width="198px" height="21px" viewBox="0 0 198 21" version="1.1" xmlns="http://www.w3.org/2000/svg"
				 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
				<title>logo</title>
				<desc>Created with Sketch.</desc>
				<defs></defs>
				<g id="Articles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
				   sketch:type="MSPage">
					<g sketch:type="MSArtboardGroup" transform="translate(-43.000000, -35.000000)" id="Group">
						<g sketch:type="MSLayerGroup">
							<g id="header" sketch:type="MSShapeGroup">
								<g id="logo" transform="translate(43.000000, 35.000000)">
									<rect id="Rectangle-60" fill="#157EFB" x="40" y="20" width="12"
										  height="1"></rect>
									<rect id="Rectangle-60-Copy" fill="#157EFB" x="19" y="20" width="14"
										  height="1"></rect>
									<rect id="Rectangle-60-Copy-2" fill="#157EFB" x="0" y="20" width="14"
										  height="1"></rect>
									<path d="M49.1657012,12.1819695 C48.0452845,10.858478 45.3452523,9.26923368 44.4361674,8.96058672 C45.3371333,8.84053072 47.0449807,8.6653592 48.3010318,8.98502926 C49.0740046,9.18176773 51.0624338,9.90833417 51.8850756,9.70728231 C52.5842614,9.53642418 53,9.24047775 53,8.2136515 C53,6.7662698 52.3361555,6.41688528 51.6620429,5.89232923 C50.9662002,5.35075926 48.4753507,3.41189083 47.9254104,2.98390677 C47.0144152,2.27483352 46.1048528,1.68054434 44.9185292,1.6999546 C44.6761544,1.70402835 44.3375459,1.6999546 44.3375459,1.6999546 L44.3375459,0 C44.3375459,0 41.7998929,0.780483806 40.3131679,2.38075119 C38.3942275,4.44662496 37.1116416,7.04171841 38.7511942,10.297848 C39.4136059,11.613192 42.7664404,12.1819691 42.7663457,15.2370472 C42.7662745,17.5384615 41.0221442,17.8495233 40.2317395,19 L51.9072833,19 C51.6278955,16.6058294 50.8998158,14.2305897 49.1657012,12.1819695 Z"
										  id="Shape" fill="#157EFB"></path>
									<path d="M20.1284388,5.60631749 L32.1062318,5.60631749 L33.8933754,4.97979269 C33.9580628,4.91872439 34,4.83339234 34,4.73742787 L34,0.333694638 C34,0.150217112 33.8489713,0 33.6645024,0 L31.1118154,0 C30.9240574,0 30.7746732,0.150217112 30.7746732,0.333694638 L30.7746732,3.8672046 L27.7719151,3.87102137 L27.7719151,0.368590809 C27.7719151,0.166302066 27.6063591,0.00163575803 27.4021551,0.00163575803 L24.8809895,0.00163575803 C24.6773337,0.00163575803 24.5120518,0.166302066 24.5120518,0.368590809 L24.5120518,3.87511077 L21.2261491,3.87920016 L21.2261491,0.384403136 C21.2261491,0.199562479 21.0751203,0.0507084988 20.889281,0.0507084988 L18.3363199,0.0507084988 C18.1502064,0.0507084988 18,0.199289853 18,0.384403136 L18,4.64691593 C18,4.77532293 18.0748291,4.88355559 18.1814538,4.93971662 L20.1284388,5.60631749 Z M32.8448532,17.7966274 L29,15 L29,7.99999999 L23,7.99999999 L23,15 L19.1551471,17.8307057 C19.0957821,17.8688734 19.0476416,17.9239439 19.0224489,17.9948268 C19.0089796,18.0528962 19,18.0828851 19,18.1161455 L19,18.9667396 L33.0000003,18.9667396 L33.0000003,18.0828851 C33.0000003,18.0496246 32.9910208,18.0199084 32.9830389,17.9893742 C32.9528576,17.8901382 32.9047171,17.8342498 32.8448532,17.7966274 Z"
										  id="Shape" fill="#157EFB"></path>
									<path d="M13.8222917,17.8167687 L9.57914285,14.7395667 L9.57914285,8.4109049 L4.42114285,8.4109049 L4.42114285,14.7395667 L0.177708294,17.8175957 C0.109710587,17.8561914 0.0545695886,17.9118793 0.0257134187,17.9835569 C0.0102853675,18.0422774 -1.59872116e-13,18.0726025 -1.59872116e-13,18.1062358 L-1.59872116e-13,18.9663667 L14,19 L14,18.1062358 C14,18.0726025 13.9897146,18.0425531 13.9805721,18.0116766 C13.9460018,17.911328 13.8908608,17.8548129 13.8222917,17.8167687 Z M7.0002857,5.62547711 C8.61018902,5.62547711 9.91527351,4.36617117 9.91527351,2.81273856 C9.91527351,1.25930595 8.61018902,0 7.0002857,0 C5.39038239,0 4.0852979,1.25930595 4.0852979,2.81273856 C4.0852979,4.36617117 5.39038239,5.62547711 7.0002857,5.62547711 Z"
										  id="Shape" fill="#157EFB"></path>
									<path d="M70.002,20 L73.824,20 L73.824,3.048 L70.002,3.048 L70.002,20 Z M81.13,20 L84.978,20 L84.978,6.272 L89.632,6.272 L89.632,3.048 L76.476,3.048 L76.476,6.272 L81.13,6.272 L81.13,20 Z M97.354,20.312 C100.942,20.312 103.152,18.154 103.152,15.45 C103.152,12.928 101.618,11.758 99.642,10.9 L97.224,9.86 C95.872,9.288 94.39,8.664 94.39,7.026 C94.39,5.492 95.664,4.53 97.562,4.53 C99.148,4.53 100.396,5.154 101.436,6.142 L102.606,4.738 C101.384,3.49 99.59,2.632 97.562,2.632 C94.468,2.632 92.206,4.556 92.206,7.156 C92.206,9.652 94.052,10.874 95.664,11.55 L98.108,12.616 C99.72,13.344 100.942,13.89 100.942,15.632 C100.942,17.296 99.616,18.414 97.38,18.414 C95.612,18.414 93.896,17.556 92.674,16.282 L91.374,17.79 C92.856,19.324 94.962,20.312 97.354,20.312 L97.354,20.312 Z M106.298,20 L108.43,20 L108.43,7.364 L106.298,7.364 L106.298,20 Z M107.39,4.764 C108.222,4.764 108.872,4.192 108.872,3.386 C108.872,2.554 108.222,2.008 107.39,2.008 C106.558,2.008 105.908,2.554 105.908,3.386 C105.908,4.192 106.558,4.764 107.39,4.764 L107.39,4.764 Z M112.694,20 L114.826,20 L114.826,10.848 C115.996,9.548 117.062,8.898 117.998,8.898 C119.61,8.898 120.364,9.912 120.364,12.278 L120.364,20 L122.496,20 L122.496,10.848 C123.666,9.548 124.68,8.898 125.668,8.898 C127.254,8.898 128.008,9.912 128.008,12.278 L128.008,20 L130.14,20 L130.14,11.992 C130.14,8.768 128.892,7.052 126.292,7.052 C124.758,7.052 123.458,8.04 122.132,9.47 C121.612,7.962 120.572,7.052 118.648,7.052 C117.14,7.052 115.814,7.988 114.722,9.184 L114.644,9.184 L114.462,7.364 L112.694,7.364 L112.694,20 Z M137.94,20.312 C139.682,20.312 140.93,19.402 142.1,18.024 L142.178,18.024 L142.36,20 L144.128,20 L144.128,7.364 L141.996,7.364 L141.996,16.334 C140.8,17.816 139.89,18.466 138.59,18.466 C136.926,18.466 136.224,17.452 136.224,15.086 L136.224,7.364 L134.066,7.364 L134.066,15.372 C134.066,18.596 135.262,20.312 137.94,20.312 L137.94,20.312 Z M150.654,20.312 C151.226,20.312 151.59,20.234 151.876,20.104 L151.59,18.492 C151.356,18.544 151.252,18.544 151.122,18.544 C150.81,18.544 150.524,18.284 150.524,17.608 L150.524,1.488 L148.392,1.488 L148.392,17.452 C148.392,19.298 149.042,20.312 150.654,20.312 L150.654,20.312 Z M157.934,20.312 C159.52,20.312 160.924,19.48 162.12,18.492 L162.198,18.492 L162.38,20 L164.148,20 L164.148,12.252 C164.148,9.106 162.848,7.052 159.754,7.052 C157.726,7.052 155.958,7.936 154.788,8.69 L155.62,10.172 C156.608,9.496 157.934,8.82 159.39,8.82 C161.47,8.82 161.99,10.38 161.99,11.992 C156.608,12.59 154.242,13.968 154.242,16.724 C154.242,18.986 155.828,20.312 157.934,20.312 L157.934,20.312 Z M158.558,18.596 C157.31,18.596 156.322,17.998 156.322,16.568 C156.322,14.956 157.778,13.916 161.99,13.396 L161.99,16.906 C160.768,17.998 159.78,18.596 158.558,18.596 L158.558,18.596 Z M171.74,20.312 C172.52,20.312 173.378,20.078 174.08,19.844 L173.664,18.232 C173.248,18.388 172.676,18.57 172.234,18.57 C170.778,18.57 170.284,17.686 170.284,16.126 L170.284,9.106 L173.69,9.106 L173.69,7.364 L170.284,7.364 L170.284,3.828 L168.49,3.828 L168.23,7.364 L166.254,7.494 L166.254,9.106 L168.126,9.106 L168.126,16.1 C168.126,18.596 169.036,20.312 171.74,20.312 L171.74,20.312 Z M181.1,20.312 C184.194,20.312 186.95,17.894 186.95,13.708 C186.95,9.47 184.194,7.052 181.1,7.052 C178.006,7.052 175.25,9.47 175.25,13.708 C175.25,17.894 178.006,20.312 181.1,20.312 L181.1,20.312 Z M181.1,18.544 C178.942,18.544 177.46,16.594 177.46,13.708 C177.46,10.796 178.942,8.82 181.1,8.82 C183.284,8.82 184.74,10.796 184.74,13.708 C184.74,16.594 183.284,18.544 181.1,18.544 L181.1,18.544 Z M190.278,20 L192.41,20 L192.41,11.888 C193.268,9.756 194.542,8.976 195.608,8.976 C196.128,8.976 196.414,9.054 196.83,9.184 L197.246,7.312 C196.83,7.13 196.44,7.052 195.894,7.052 C194.464,7.052 193.164,8.066 192.306,9.652 L192.228,9.652 L192.046,7.364 L190.278,7.364 L190.278,20 Z"
										  id="sign" fill="#10263B"></path>
								</g>
							</g>
						</g>
					</g>
				</g>
			</svg>
		</a>
	</div>
	<div id="user-menu" class="icon-menu_mob"></div>
	<div class="header_nav">
		<nav>
			<ul class="top_menu">
				<li><a href="news.html">Новости</a></li>
				<li><a href="articles.html">Статьи</a></li>
				<li><a href="tests.html">Тесты</a></li>
				<li><a href="#">Проекты</a></li>
				<li class="active"><a href="#">Тренинги и мастер-классы</a></li>
			</ul>
		</nav>
	</div>
	<div class="wrap_registered">
		<div class="registered">
			<div class="wrapper-dropdown dd" tabindex="1">
				<div class="extra_small_avatar">
					<img src="img/svg/ava.svg" alt="">
				</div>
				<a href="">Сергей Моринец</a>
				<ul class="dropdown">
					<li><a href="#">Мои тесты</a></li>
					<li><a href="#">Выход</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<div class="user-menu_mob">
	<div class="wrap_registered">
		<div class="registered">
			<div class="wrapper-dropdown dd" tabindex="1">
				<div class="extra_small_avatar">
					<img src="img/svg/ava.svg" alt="">
				</div>
				<a href="">Сергей Моринец</a>
				<ul class="dropdown">
					<li><a href="profile_tests.html">Мои тесты</a></li>
					<li><a href="#">Выход</a></li>
				</ul>
			</div>
		</div>
	</div>
	<nav class="mob-nav">
		<ul class="mob-nav__items">
			<li class="mob-nav__item"><a class="mob-nav__link" href="#">Новости</a></li>
			<li class="mob-nav__item mob-nav__item_active"><a class="mob-nav__link" href="#">Статьи</a></li>
			<li class="mob-nav__item"><a class="mob-nav__link" href="#">Тесты</a></li>
			<li class="mob-nav__item"><a class="mob-nav__link" href="#">Проекты</a></li>
		</ul>
	</nav>
</div>
