@import url('../../bower_components/codemirror/lib/codemirror.css');
@import url('../../bower_components/codemirror/theme/blackboard.css');
@import url('../../bower_components/codemirror/addon/scroll/simplescrollbars.css');

.editor {
	position: relative;
	height: 100%;
	background-color: #10263B;
}
.editor .btn {
	margin: 20px;
	box-shadow: none;
}

.CodeMirror {
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	line-height: 1.4;
}
.CodeMirror.cm-s-blackboard {
	background: #10263B;
}
.CodeMirror .CodeMirror-gutters {
	border-right: 1px solid rgba(109, 122, 134, .21);
	background: #10263B;
}
.CodeMirror .CodeMirror-linenumber {
	color: #6D7A86;
}
.CodeMirror pre {
	padding-left: 9px;
}
.CodeMirror .cm-keyword {
	color: #DDCA7E;
}
.CodeMirror .cm-def {
	color: #5779af;
}


.CodeMirror-linenumber {
	padding-right: 10px;
	padding-left: 17px;
	text-align: center;
	box-sizing: border-box;
}


.CodeMirror-overlayscroll-horizontal > div,
.CodeMirror-overlayscroll-vertical > div {
	background: #061829;
}
.CodeMirror-scrollbar-filler {
	background-color: transparent;
}
