.wrap_exams {
	padding-bottom: 155px;
}
.wrap_exams  .wrap_table:last-child {
	padding-bottom: 65px;
}
table.pending_exams,
table.all_exams {
	width: 100%;
	margin-bottom: 20px;
}
table.pending_exams thead,
table.all_exams thead {
	background-color: #eef1f3;
	text-align: left;
}
table.pending_exams thead th,
table.all_exams thead th {
	padding: 17px 21px;
	white-space: nowrap;
	vertical-align: middle;
	text-align: left;
}
table.pending_exams thead th a,
table.all_exams thead th a {
	color: #6d7a86;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
table.pending_exams tbody,
table.all_exams tbody {
	text-align: left;
}
table.pending_exams tbody time,
table.all_exams tbody time {
	text-transform: uppercase;
}
table.pending_exams tbody tr,
table.all_exams tbody tr {
	border-bottom: 1px solid #eef1f3;
}
table.pending_exams tbody tr:last-child,
table.all_exams tbody tr:last-child {
	border-bottom: none;
}
table.pending_exams tbody td,
table.all_exams tbody td {
	padding: 12px 21px;
}
table.pending_exams tbody td .progress {
	display: inline-block;
	width: 123px;
	height: 10px;
	border-radius: 14px;
	background-color: #e8e8e9;
	margin-right: 19px;
}
table.pending_exams tbody td .progress div {
	border-radius: 14px;
	height: 10px;
}
table.pending_exams tbody td .text_right_td {
	text-align: right;
	display: inline-block;
	width: 158px;
	font-weight: bold;
}
table.pending_exams tbody td .normal_button,
table.all_exams tbody td .normal_button {
	min-width: 165px;
}
table.pending_exams tbody td .normal_button:last-child {
	min-width: 118px;
}
table.pending_exams tbody td:last-child,
table.all_exams tbody td:last-child {
	text-align: right;
}

table.all_exams thead th:nth-child(4) {
	width: 190px;
}

.panding_exams__td-exam a {
	line-height: 18px;
}
.pending_exams__td-button .icon-arrow-right-small,
.all_exams__td-button .icon-arrow-right-small {
	display: none;
}

.wrap_exams h2 {
	margin-bottom: 22px;
	margin-top: 37px;
	margin-left: 3.2%;
}
.pending-exams-mob,
.all-exams-mob {
	display: none;
}

.all_exams__td-rating .rating-big {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.all_exams__td-rating b z{
	line-height: 23px;
}
@media only screen and (max-width: 767px) {
	.wrap_exams {
		padding-bottom: 268px;
	}
	.wrap_exams h2 {
		margin-top: 22px;
	}
	.pending-exams-mob {
		display: table;
		width: 100%;
		margin-top: -15px;
	}
	table.pending_exams,
	table.all_exams {
		display: none;
	}
	.pending-exams-mob {
		display: table;
		width: 100%;
		margin-top: -15px;
		margin-bottom: 22px;
	}
	.pending-exams-mob__tr {
		border-bottom: 1px solid #E8E8E9;
	}
	.pending-exams-mob__td {
		vertical-align: middle;
		padding: 0 15px;
	}
	.pending-exams-mob__td-button {
		text-align: center;
		padding: 2px 25px 0 15px;
	}
	.pending-exams-mob__td-button .icon-arrow-right-small {
		cursor: pointer;
	}
	.pending-exams-mob__exam {
		display: block;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 9px;
		margin-top: 14px;
	}
	.pending-exams-mob__date {
		font-size: 14px;
		line-height: 20px;
	}
	.pending-exams-mob__date:after {
		content: '•';
		display: inline-block;
		vertical-align: middle;
		margin: -4px 0px 0px 4px;
	}
	.pending-exams-mob__level {
		font-size: 14px;
		line-height: 20px;
	}
	.pending-exams-mob__progress {
		display: inline-block;
		width: 100%;
		height: 10px;
		border-radius: 14px;
		background-color: #e8e8e9;
		margin-top: 12px;
		margin-bottom: 16px;
	}
	.pending-exams-mob__progress div {
		height: 10px;
		border-radius: 14px;
	}

	.all-exams-mob {
		display: table;
		width: 100%;
		margin-top: -10px;
	}
	.all-exams-mob__tr {
		border-bottom: 1px solid #E8E8E9;
	}
	.all-exams-mob__tr:last-child {
		border-bottom: none;
	}
	.all-exams-mob__td {
		vertical-align: middle;
		padding: 15px 0 9px 15px;
	}
	.all-exams-mob__date {
		font-size: 14px;
		line-height: 20px;
	}
	.all-exams-mob__date:after {
		content: '•';
		display: inline-block;
		vertical-align: middle;
		margin: -4px 0px 0px 4px;
	}
	.all-exams-mob__level {
		font-size: 14px;
		line-height: 20px;
	}
	.all-exams-mob__td-button {
		text-align: center;
		padding: 0 23px 3px 10px;
	}
	.all-exams-mob__td-button .icon-arrow-right-small {
		cursor: pointer;
	}
	.all-exams-mob__exam {
		display: block;
		margin-bottom: 11px;
	}
}
@media only screen and (max-width: 1023px) {
	.wrap_exams h2 {
		text-align: center;
		margin-left: 0;
		margin-bottom: 13px;
		margin-top: 16px;
	}
	.pending_exams__th-date,
	.pending_exams__th-time,
	.all_exams__th-date,
	.pending_exams__td-date,
	.pending_exams__td-time,
	.all_exams__td-date,
	table.pending_exams tbody td.pending_exams__td-answer b,
	.pending_exams__td-button .normal_button,
	.all_exams__td-button .normal_button {
		display: none;
	}
	table.pending_exams thead th.pending_exams__th-answer,
	table.pending_exams tbody td.pending_exams__td-answer {
		display: table-cell;
		padding: 17px 0 17px 31px;
	}
	table.pending_exams,
	table.all_exams {
		margin-bottom: 40px;
		margin-top: 23px;
	}
	table.pending_exams thead th.pending_exams__th-exam {
		width: 42%;
	}
	table.all_exams thead th.all_exams__th-exam {
		width: 45%;
	}
	table.pending_exams tbody td {
		padding: 25px 20px 27px 20px;
		vertical-align: middle;
	}
	table.all_exams tbody td {
		padding: 20px 20px 27px 20px;
		vertical-align: middle;
	}
	table.all_exams .all_exams__td-rating {
		width: 25%;
	}
	.pending_exams__td-exam .date-td__mob {
		margin-top: 14px;
	}
	.pending_exams__td-button .icon-arrow-right-small,
	.all_exams__td-button .icon-arrow-right-small {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;

	}
	.all_exams__td-rating b {
		display: none;
	}
	table.all_exams tbody td .normal_button {
		min-width: 91px;
	}

}
@media (min-width: 1024px) and (max-width: 1279px) {
	.pending_exams__th-date,
	.pending_exams__td-date,
	.all_exams__th-date,
	.all_exams__td-date {
		display: none;
	}
	.pending_exams__td-exam .date-td__mob,
	.all_exams__td-exam .date-td__mob {
		display: block;
		margin-top: 10px;
	}
	table.pending_exams tbody tr:last-child {
		border-bottom: 1px solid #eef1f3;
	}
}



table.pending_exams tbody td .icon_level,
table.all_exams tbody td .icon_level {
	vertical-align: middle;
	margin-right: 7px;
}
