.wrap_exams--done .icon_level {
	width: 115px;
	height: 40px;
}
.wrap_exams--done .btn {
	margin: 0 10px;
}
.wrap_exams--done.wrap_result .test_result {
	padding-top: 10px;
}
.wrap_exams--done.wrap_result .test_result ul.list_result li .normal_button {
	width: auto;
}
@media only screen and (max-width: 1023px) {
	.wrap_exams--done.wrap_result .title_result .icon_test {
		margin-top: 50px;
	}
	.wrap_exams--done .normal_button {
		display: none;
	}
}
